### https://raw.github.com/github/gitignore/1fb9ea045e619c61e223371533cdea118efbea5d/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


